body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.album-photos-app {
  text-align: center;
}

.search-form {
  width: 75%;
  margin: 0 auto;
  display: flex;
}

.get-album-photos-by-id-input {
  width: 50%;
  height: 45px;
}

.get-album-photos-by-id-button {
  width: 50%;
  height: 45px;
  border-radius: 20px;
  margin-left: 5px;
  font-size: small;
}

.album-photos {
  padding: 20px;
}

.single-photo.col {
  margin-bottom: 20px;
}

p.image-title {
  font-size: small;
  padding: 5px;
}